<a href="https://colab.research.google.com/github/rukka0808/python_code/blob/main/data%20visualization/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Mount Drive

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [ ]:
!ls -al 'drive/My Drive/data'

total 2263604
-rw------- 1 root root 757939580 Feb 14 23:37 TCS_11_03_02_339640.csv
-rw------- 1 root root 732586920 Mar 14 23:42 TCS_11_03_02_663167.csv
-rw------- 1 root root 827403150 Apr 14 23:36 TCS_11_03_02_717062.csv

2. Loda data

In [ ]:
import pandas as pd

In [ ]:
file = 'drive/My Drive/data/TCS_11_03_02_339640.csv'
data = pd.read_csv(file, sep=",",encoding="euc-kr")

In [ ]:
data.head(10)

       집계일자  집계시  출발영업소코드  도착영업소코드  TCS차종구분코드  통행시간  Unnamed: 6
0  20210101   18        0      101          1    -1         NaN
1  20210101   18        0      101          3    -1         NaN
2  20210101   18        0      101          4    -1         NaN
3  20210101    9        0      101          3    -1         NaN
4  20210101    9        0      101          2    -1         NaN
5  20210101    9        0      101          1    -1         NaN
6  20210101    9        0      101          4    -1         NaN
7  20210101   16        0      101          1    -1         NaN
8  20210101   23        0      101          3    -1         NaN
9  20210101    6        0      101          3    -1         NaN

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24767718 entries, 0 to 24767717
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   집계일자        int64
 1   집계시         int64
 2   출발영업소코드     int64
 3   도착영업소코드     int64
 4   TCS차종구분코드   int64
 5   통행시간        int64
 6   Unnamed: 6  float64
dtypes: float64(1), int64(6)
memory usage: 1.3 GB

3. Clean Data

In [ ]:
data.isnull().sum(axis=0)

집계일자                 0
집계시                  0
출발영업소코드              0
도착영업소코드              0
TCS차종구분코드            0
통행시간                 0
Unnamed: 6    24767718
dtype: int64

In [ ]:
data.columns

Index(['집계일자', '집계시', '출발영업소코드', '도착영업소코드', 'TCS차종구분코드', '통행시간', 'Unnamed: 6'], dtype='object')

In [ ]:
data_clean = data.drop(['Unnamed: 6'], axis='columns')

In [ ]:
data_clean.head()

       집계일자  집계시  출발영업소코드  도착영업소코드  TCS차종구분코드  통행시간
0  20210101   18        0      101          1    -1
1  20210101   18        0      101          3    -1
2  20210101   18        0      101          4    -1
3  20210101    9        0      101          3    -1
4  20210101    9        0      101          2    -1

In [ ]:
data_clean['통행시간'].unique()

array([   -1,   617,   601, ..., 55599, 39260, 60302])

In [ ]:
data_clean = data_clean[data_clean['통행시간']>0]

In [ ]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20817148 entries, 7684 to 24767717
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   집계일자       int64
 1   집계시        int64
 2   출발영업소코드    int64
 3   도착영업소코드    int64
 4   TCS차종구분코드  int64
 5   통행시간       int64
dtypes: int64(6)
memory usage: 1.1 GB

4. Select Data

In [ ]:
df_data = pd.DataFrame(data_clean, columns=['집계일자',	'집계시',	'출발영업소코드',	'도착영업소코드',	'통행시간'])

In [ ]:
df_data.head()

          집계일자  집계시  출발영업소코드  도착영업소코드  통행시간
7684  20210101   21      101      102   617
7686  20210101   21      101      102   601
7687  20210101   21      101      102   644
7688  20210101   21      101      102   600
7689  20210101   17      101      102   612

In [ ]:
long_distance = df_data.통행시간 > 700

In [ ]:
long_distance

7684        False
7686        False
7687        False
7688        False
7689        False
            ...
24767713     True
24767714     True
24767715     True
24767716     True
24767717     True
Name: 통행시간, Length: 20817148, dtype: bool

In [ ]:
start_from_101 = df_data[df_data.출발영업소코드 == 101]

In [ ]:
start_from_101

              집계일자  집계시  출발영업소코드  도착영업소코드   통행시간
7684      20210101   21      101      102    617
7686      20210101   21      101      102    601
7687      20210101   21      101      102    644
7688      20210101   21      101      102    600
7689      20210101   17      101      102    612
...            ...  ...      ...      ...    ...
24767215  20210131   18      101      620  12498
24767219  20210131    8      101      556  13091
24767332  20210131   16      101      741   1847
24767427  20210131   21      101      224  10449
24767586  20210131   16      101      107   2009

[254619 rows x 5 columns]

In [ ]:
from_101_to = start_from_101[start_from_101['도착영업소코드'].isin([105,110,115,120,125,130,135,140])]

In [ ]:
from_101_to

              집계일자  집계시  출발영업소코드  도착영업소코드  통행시간
7927      20210101   13      101      105   764
7928      20210101   13      101      105   782
7929      20210101   13      101      105   749
7930      20210101   13      101      105   848
7932      20210101   13      101      105   813
...            ...  ...      ...      ...   ...
24759689  20210131    1      101      105   721
24761069  20210131    7      101      105   833
24761618  20210131   16      101      110  3482
24762451  20210131   17      101      105   856
24765839  20210131    6      101      105   839

[12725 rows x 5 columns]

In [ ]:
from_101_to.value_counts()

집계일자      집계시  출발영업소코드  도착영업소코드  통행시간
20210131  12   101      105      755      2
20210115  17   101      110      3908     2
20210104  3    101      105      632      2
20210101  21   101      105      756      2
20210121  11   101      105      1048     2
                                         ..
          21   101      105      988      1
                                 877      1
          20   101      140      16180    1
                        135      13135    1
20210101  0    101      105      650      1
Length: 12700, dtype: int64

5. Insert Data

In [ ]:
from_101_to = from_101_to.assign(요일 = pd.to_datetime(from_101_to['집계일자'], format='%Y%m%d').dt.dayofweek)

In [ ]:
from_101_to.head()

          집계일자  집계시  출발영업소코드  도착영업소코드  통행시간  요일
7927  20210101   13      101      105   764   4
7928  20210101   13      101      105   782   4
7929  20210101   13      101      105   749   4
7930  20210101   13      101      105   848   4
7932  20210101   13      101      105   813   4

Sort & Group data

In [ ]:
from_101_to.sort_values(by = ['통행시간'])

              집계일자  집계시  출발영업소코드  도착영업소코드   통행시간  요일
1068667   20210103    0      101      105    520   6
1069636   20210103    1      101      105    534   6
1064817   20210103    2      101      105    560   6
18267985  20210125    3      101      105    581   0
23355649  20210131    5      101      105    589   6
...            ...  ...      ...      ...    ...  ..
7597495   20210112    1      101      135  24251   1
21730969  20210129   22      101      135  24607   4
13314512  20210119    9      101      135  24847   1
7597582   20210112    5      101      140  26239   1
13314505  20210119    8      101      135  30143   1

[12725 rows x 6 columns]

In [ ]:
from_101_to.sort_values(by = ['집계일자','집계시'], ascending=False)

              집계일자  집계시  출발영업소코드  도착영업소코드   통행시간  요일
23346952  20210131   23      101      105    754   6
23346964  20210131   23      101      105    811   6
23347119  20210131   23      101      105    865   6
23348144  20210131   23      101      105    763   6
23348179  20210131   23      101      105    802   6
...            ...  ...      ...      ...    ...  ..
8901      20210101    0      101      125   9393   4
9047      20210101    0      101      130   9081   4
9109      20210101    0      101      135  13320   4
9110      20210101    0      101      135  11168   4
9159      20210101    0      101      140  13556   4

[12725 rows x 6 columns]

In [ ]:
from_101_to['통행시간'].groupby(from_101_to['도착영업소코드']).mean()

도착영업소코드
105      912.917020
110     3694.332291
115     5571.131349
120     7984.944000
125     9580.877221
130     9076.381443
135    13392.143824
140    15760.309322
Name: 통행시간, dtype: float64

In [ ]:
groupby_destination = from_101_to['통행시간'].groupby(from_101_to['도착영업소코드'])

In [ ]:
groupby_destination.size()

도착영업소코드
105    4242
110    3199
115    2284
120     500
125     619
130     582
135     591
140     708
Name: 통행시간, dtype: int64

In [ ]:
groupby_destination.mean()

도착영업소코드
105      912.917020
110     3694.332291
115     5571.131349
120     7984.944000
125     9580.877221
130     9076.381443
135    13392.143824
140    15760.309322
Name: 통행시간, dtype: float64

In [ ]:
groupby_destination.max()

도착영업소코드
105     2477
110    12331
115    13482
120    13142
125    23402
130    20720
135    30143
140    26239
Name: 통행시간, dtype: int64

In [ ]:
output = 'drive/My Drive/data/output.csv'
from_101_to.to_csv(output, index=None, header=True)

In [ ]:
!ls -al 'drive/My Drive/data'

total 2263933
-rw------- 1 root root    337176 Jun 25 03:40 output.csv
-rw------- 1 root root 757939580 Feb 14 23:37 TCS_11_03_02_339640.csv
-rw------- 1 root root 732586920 Mar 14 23:42 TCS_11_03_02_663167.csv
-rw------- 1 root root 827403150 Apr 14 23:36 TCS_11_03_02_717062.csv